<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @photo.tag %>
</p>

<p>
  <strong>Exif:</strong>
  <%= @photo.exif %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
